@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*darkmode and lightmode */

:root {
	--background-color: rgb(255, 255, 255);
	--text-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: red;
	color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: rgb(0, 0, 0);
		--text-color: rgb(255, 255, 255);
	}

	body {
		margin: 0;
		padding: 0;
		height: 100%;
		background-color: var(--background-color);
		color: var(--text-color);
	}
}

.animate-slide-in-right {
	animation: slide-in-right 0.3s ease-out;
}

.animate-slide-in-left {
	animation: slide-in-left 0.3s ease-out;
}

.hidden-scrollbar::-webkit-scrollbar {
	display: none;
}

.hidden-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.modern-scrollbar::-webkit-scrollbar {
	width: 8px;
}

.modern-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modern-scrollbar::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

/* animations */

@keyframes slide-in-right {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
